# ===== LOG FILES =====
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# ===== SYSTEM FILES =====
.DS_Store

# ===== IDE CONFIGS =====
.vscode/
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# ===== PYTHON CACHE =====
__pycache__/
*.py[cod]

# ===== FRONTEND BUILD FILES =====
node_modules/
dist/
dist-ssr/
*.local

# ===== ENV FILES =====
.env
.env.*
